{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "extraFileExtensions": [".vue"]
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/named": "off",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "vue/multi-word-component-names": [
      "error", {
        "ignores": ["default"]
      }
    ]
  },

  "overrides": [
    {
      "files": "*.vue",
      // "parser": "vue-eslint-parser",
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/vue3-recommended",
        "plugin:import/recommended",
        "eslint:recommended",
        "prettier"
      ],
      "plugins": ["vue", "@typescript-eslint", "simple-import-sort"],
      "rules": {
        // FIXME: Causes problems with imports from Vue
        "import/named": "off",
        "vue/multi-word-component-names": "off"
      }
    }
  ]
}
