@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}


html, body {
  margin: 0; /* Remove default browser margins */
}

body {
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
  display: flex;
}

#app {
  min-height: 100%;
  width: 100%;
}